body {
	font-family: RobotoDraft, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main{
	margin: 15px;
}
.navbar {
	color:#FFFFFF;
	height:65px;
	margin-bottom: 0px;
}
.navbar-background{
	height:200px;
	overflow: hidden;
}
.navbar-background > img {
	margin-top:-13%;
	width: 100%;
}
@media (max-width: 550px){
	.navbar-background > img {
		height: 100%;
		margin-top: inherit !important;
		width:inherit;
	}
}
@media (max-width: 768px){
	.navbar-background > img {
		margin-top:-5%;
	}
}
.navbar-background-title {
	color: #FFFFFF;
	left:29px;
	position:absolute;
}
#navbar-background-top{
	top: 80px;
    font-weight: 300;
    font-size: 12px;
}
#navbar-background-middle{
	top: 102px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .07em;
}
#navbar-background-bottom{
	top: 140px;
    font-weight: 100;
    font-size: 12px;
}
.navbar-default{
	background-color: transparent;
	border-color:transparent;
}
.navbar-default.scrolled{
	background-color: #FFFFFF;
	border-color:#e7e7e7;
	color:#777777;
	height: 50px;
}
.navbar-nav {
	background-color: transparent;
	margin:0px;
	padding: 0px 25px;
}
.navbar .glyphicon.scrolled {
	margin: 0px;
}
.navbar .glyphicon {
	font-size: 18px;
}
.glyphicon-title{
    display: inline-block;
    padding: 0px 0px 0px 10px;
}
.navbar-brand {
    padding: 5px 20px;
    max-width:45%;
}
.navbar-brand>img{
	width:100%;
}
.navbar-brand.scrolled>img{
	height: 100%;
	width:auto;
}
.white-logo.scrolled{
	display:none;
}
.color-logo{
	display:none;
}
.color-logo.scrolled{
	display:inherit;
}
.navbar-header {
	height: 100%;
	padding: 0px 15px;
}
.navbar .container-fluid {
	height:100%;
	margin:0px;
	padding:0px;
}
.nav-title {
	color:#777777 !important;
	font-weight: 300;
	padding: 15px 14px 10px 0px;
}
.nav-title.unscrolled {
	color:#FFFFFF !important;
}
.navbar-collapse.in .nav-title.unscrolled {
	color:#777777 !important;
}
.navbar-collapse {
	margin:0px;
	padding:0px;
	width:100%;
}
.navbar-collapse.in {
	background-color: #FFFFFF;
	margin:0px !important;
}

.navbar-collapse.scrolled{
	border:0px;
}
.navbar-toggle {
	border: 0px;
	margin: 8px 10px;
}
.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle.unscrolled .icon-bar {
	background-color: #FFFFFF !important;
}
.navbar-default .navbar-toggle.scrolled .icon-bar{
	background-color: #777777;
}
@media (min-width: 768px) {
	.navbar-brand {
		height: 100%;
		max-width:auto;
	}
	.navbar-brand>img{
		height:100%;
		width:auto;
	}
	.navbar-nav {
		float:right;
		padding:0px 15px;
	}
	.nav-title {
		color: #FFFFFF;
		margin: 8px 0px;
	    padding: 8px 15px 10px 0px !important;
	}
	.glyphicon-title{
		display:none;
	}
	#navbar-background-middle{
		letter-spacing: 0.2em;
	}
}
.main {
	margin:0px;
	width:100%;
}
.hero-image, .hero-image img{
	width:100%;
}
#how-it-works{
    position: relative;
    width: 100%;
    text-align: center;
    top: -75px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 #= require_main
 */

