<div class="row">
	<div data-hook="homepage_sidebar_navigation" class="col-md-2">
		<%= render :partial => 'spree/shared/taxonomies' %>
	</div>

	<div data-hook="homepage_products" class="col-md-10">
		<%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
	</div>
</div>