<div class="footer row">
	<div class="row">
		<div class="col-md-3">
			<h3>About Branded by J.Otto</h3>
			<p>Branded by J.Otto was founded for the moments that really change our lives. We create well-crafted, everyday athletic apparel with a Bible verse on the inside, reminding the one wearing it that they are loved and cared for. Our goal is to produce an experience through our products that people feel for a lifetime and not just a moment.</p>
		</div>
		<div class="col-md-3">
			<h3>Get in Touch</h3>
			<p>302 7th Street NE #3<br/>Buffalo, MN 55313</p>
			<p>800-214-2510</p>
			<p>info@brandedbyjotto.com</p>
		</div>
		<div class="col-md-3">
			<h3>Links</h3>
			<p><a href="/account">My Account</a></p>
			<p><a href="/shipping-details">Shipping Details</a></p>
			<p><a href="/returns-exchanges">Returns & Exchanges</a></p>
			<p><a href="/faq">Frequently Asked Questions</a></p>
			<p><a href="/contact">Contact Us</a></p>
			<p><a href="/privacy">Privacy Policy</a></p>
		</div>
		<div class="col-md-3">
			<h3>Social</h3>
			<a href="https://www.instagram.com/branded_by_j.otto/" class="social-icon">
				<span class="icon">
					<svg viewBox="0 0 97.395 97.395">
						<path fill="#828282" d="M12.501,0h72.393c6.875,0,12.5,5.09,12.5,12.5v72.395c0,7.41-5.625,12.5-12.5,12.5H12.501C5.624,97.395,0,92.305,0,84.895
						V12.5C0,5.09,5.624,0,12.501,0L12.501,0z M70.948,10.821c-2.412,0-4.383,1.972-4.383,4.385v10.495c0,2.412,1.971,4.385,4.383,4.385
						h11.008c2.412,0,4.385-1.973,4.385-4.385V15.206c0-2.413-1.973-4.385-4.385-4.385H70.948L70.948,10.821z M86.387,41.188h-8.572
						c0.811,2.648,1.25,5.453,1.25,8.355c0,16.2-13.556,29.332-30.275,29.332c-16.718,0-30.272-13.132-30.272-29.332
						c0-2.904,0.438-5.708,1.25-8.355h-8.945v41.141c0,2.129,1.742,3.872,3.872,3.872h67.822c2.13,0,3.872-1.742,3.872-3.872V41.188
						H86.387z M48.789,29.533c-10.802,0-19.56,8.485-19.56,18.953c0,10.468,8.758,18.953,19.56,18.953
						c10.803,0,19.562-8.485,19.562-18.953C68.351,38.018,59.593,29.533,48.789,29.533z"/>
					</svg>
				</span>
			</a>
			<a href="https://www.pinterest.com/brandedbyjotto/" class="social-icon">
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
					<g>
						<path style="fill: #222222 !important" d="M36,18c0,9.9-8.1,18-18,18S0,27.9,0,18C0,8.1,8.1,0,18,0S36,8.1,36,18"/>
						<g>
							<path fill="#828282" d="M18,1.7C9,1.7,1.7,9,1.7,18C1.7,24.9,6,30.8,12,33.2c-0.1-1.3-0.3-3.3,0.1-4.7c0.3-1.3,1.9-8.1,1.9-8.1    s-0.5-1-0.5-2.4c0-2.3,1.3-4,3-4c1.4,0,2.1,1,2.1,2.3c0,1.4-0.9,3.5-1.4,5.4c-0.4,1.6,0.8,2.9,2.4,2.9c2.9,0,5.1-3.1,5.1-7.5    c0-3.9-2.8-6.6-6.8-6.6c-4.6,0-7.4,3.5-7.4,7.1c0,1.4,0.5,2.9,1.2,3.7c0.1,0.2,0.2,0.3,0.1,0.5c-0.1,0.5-0.4,1.6-0.5,1.8    c-0.1,0.3-0.2,0.4-0.5,0.2c-2-0.9-3.3-3.9-3.3-6.3c0-5.1,3.7-9.9,10.8-9.9c5.7,0,10.1,4,10.1,9.4c0,5.6-3.5,10.1-8.5,10.1    c-1.7,0-3.2-0.9-3.7-1.9c0,0-0.8,3.1-1,3.9c-0.4,1.4-1.4,3.2-2,4.3c1.5,0.5,3.1,0.7,4.8,0.7c9,0,16.3-7.3,16.3-16.3    C34.3,9,27,1.7,18,1.7z"/>
						</g>
					</g>
					</svg>
				</span>
			</a>
			<a href="https://twitter.com/Branded_byJotto" class="social-icon">
				<span class="icon">
					<svg viewBox="0 0 16 16">
						<path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
						c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
					</svg>
				</span>
			</a>
			<a href="https://www.facebook.com/brandedbyjotto/" class="social-icon" style="margin: 0px;">
				<span class="icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="266.893px" height="266.895px" viewBox="0 0 266.893 266.895" enable-background="new 0 0 266.893 266.895"
						 xml:space="preserve">
					<path id="Blue_1_" style="fill:transparent;" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
						c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
						H248.082z"/>
					<path id="f" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
						l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
						v99.803H182.409z"/>
					</svg>
				</span>
			</a>
			<div id="instafeed">
			<!-- SnapWidget -->
				<script src="http://snapwidget.com/js/snapwidget.js"></script>
				<iframe src="http://snapwidget.com/in/?u=YnJhbmRlZF9ieV9qLm90dG98aW58MTI1fDN8M3x8bm98MXxub25lfG9uU3RhcnR8bm98eWVz&ve=120416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
			</div>
		</div>
	</div>
	<div class="row">
		<p>© 2015 BRANDED BY J. OTTO, LLC. ALL RIGHTS RESERVED.</p>
	</div>
</div>