<div class="footer row">
	<div class="row">
		<div class="col-md-3">
			<h3>About Branded by J.Otto</h3>
			<p>Our vision is to create an experience that will leave a mark, a mark that matters. We pair well-crafted apparel and meaningful messages to help you show up when it matters most, during life's peaks, valleys, and everything in between.</p>
		</div>
		<div class="col-md-3">
			<h3>Get in Touch</h3>
			<p>302 7th Street NE #3< br/>Buffalo, MN 55313</p>
			<p>800-214-2510</p>
			<p>info@brandedbyjotto.com</p>
		</div>
		<div class="col-md-3">
			<h3>Links</h3>
			<p><a href="/account">My Account</a></p>
			<p><a href="/shipping-details">Shipping Details</a></p>
			<p><a href="/returns-exchanges">Returns & Exchanges</a></p>
			<p><a href="/faq">Frequently Asked Questions</a></p>
			<p><a href="/contact">Contact Us</a></p>
		</div>
	</div>
	<div class="row">
		<p>© 2015 BRANDED BY J. OTTO, LLC. ALL RIGHTS RESERVED. DESIGN | JR.</p>
	</div>
</div>