<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand white-logo" href="/">
		<%= image_tag "bbjo_logo_white.png" %>
      </a>
      <a class="navbar-brand color-logo" href="/">
		<%= image_tag "bbjo_logo_color.png" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li data-no-turbolink><a class="nav-title unscrolled" href="/shop">SHOP</a></li>
        <li class="dropdown">
          <a class="nav-title unscrolled exclude-spinner" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GET INSPIRED</a>
          <ul class="dropdown-menu">
            <li><a class="nav-title unscrolled" href="/encouragement">ENCOURAGEMENT</a></li>
            <li><a class="nav-title unscrolled" href="/congratulations">CONGRATULATIONS</a></li>
            <li><a class="nav-title unscrolled" href="/accomplishment">ACCOMPLISHMENT</a></li>
            <li><a class="nav-title unscrolled" href="/love">LOVE</a></li>
            <li><a class="nav-title unscrolled" href="/thank-you">THANK YOU</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-title unscrolled exclude-spinner" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STORY</a>
          <ul class="dropdown-menu">
            <li><a class="nav-title unscrolled" href="/be-it">BE IT</a></li>
            <li><a class="nav-title unscrolled" href="/want-it">WANT IT</a></li>
            <li><a class="nav-title unscrolled" href="/have-it">HAVE IT</a></li>
            <li><a class="nav-title unscrolled" href="/need-it">NEED IT</a></li>
            <li><a class="nav-title unscrolled" href="/seek-it">SEEK IT</a></li>
          </ul>
        </li>
        <li><a class="nav-title unscrolled" href="http://blog.brandedbyjotto.com">BLOG</a></li>
        <li><a class="nav-title unscrolled" href="/contact">CONTACT</a></li>
        <li class="dropdown">
          <a class="nav-title unscrolled exclude-spinner" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon-title">ACCOUNT</span></a>
          <ul class="dropdown-menu account-dropdown">
          <% if spree_current_user %>
            <li><a class="nav-title unscrolled" href="/account">MY ORDERS</a></li>
            <li><a class="nav-title unscrolled" href="/logout">LOG OUT</a></li>
            <% else %>
            <li><a class="nav-title unscrolled" href="/login">LOG IN</a></li>
            <% end %>
          </ul>
        </li>
        <li><a class="nav-title unscrolled" href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="glyphicon-title">CART</span></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>