<div class="hero-image"><%= image_tag "bbjo_hero.jpg" %></div>
<div class="fly-in-steps">
   <div class="fly-in-step step-one"><a href="/shop">APPAREL</a></div>
   <div class="fly-in-step step-two"><a href="/shop">BOX</a></div>
   <div class="fly-in-step step-three"><a href="/shop">VIDEO</a></div>
   <div class="fly-in-step step-four"><a href="/shop">MESSAGE</a></div>
   <div class="fly-in-step step-five"><a href="/shop">SHOP NOW</a></div>
</div>
<div class="arrow"></div>